NODE_ENV=development
PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=your_password
DATABASE_NAME=jewelry_platform
JWT_SECRET=your_jwt_secret_key_change_in_production
JWT_EXPIRATION=7d
CORS_ORIGIN=http://localhost:5173


NODE_ENV=development
PORT=3000
DATABASE_HOST=ballast.proxy.rlwy.net
DATABASE_PORT=29398
DATABASE_USER=root
DATABASE_PASSWORD=cVKgVLfpoyOvbqQTCNWrhsSQVxIkmoZm
DATABASE_NAME=railway
JWT_SECRET=your_jwt_secret_key_change_in_production
JWT_EXPIRATION=7d