NODE_ENV=development
PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=your_password
DATABASE_NAME=jewelry_platform
JWT_SECRET=your_jwt_secret_key_change_in_production
JWT_EXPIRATION=7d
CORS_ORIGIN=http://localhost:5173
UPLOADS_ROOT=uploads
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=
AWS_S3_PUBLIC_BASE_URL=
AWS_S3_SIGNED_URL_EXPIRES=3600
AWS_S3_ENDPOINT=
TOGETHER_API_KEY=
TOGETHER_MODEL=ServiceNow-AI/Apriel-1.6-15b-Thinker


NODE_ENV=production
PORT=3000
DATABASE_HOST=jewelapp.c9ogwqy2s185.ap-southeast-2.rds.amazonaws.com
DATABASE_PORT=3306
DATABASE_USER=admin
DATABASE_PASSWORD=prend2uV$nen
DATABASE_NAME=jewelapp
JWT_SECRET=your_jwt_secret_key_change_in_production
JWT_EXPIRATION=7d
UPLOADS_ROOT=/var/uploads
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=
AWS_S3_PUBLIC_BASE_URL=
AWS_S3_SIGNED_URL_EXPIRES=3600
AWS_S3_ENDPOINT=https://s3.ap-south-1.amazonaws.com
TOGETHER_API_KEY=
TOGETHER_MODEL=ServiceNow-AI/Apriel-1.6-15b-Thinker
