-- MySQL dump 10.13  Distrib 8.4.8, for Win64 (x86_64)
--
-- Host: ballast.proxy.rlwy.net    Database: railway
-- ------------------------------------------------------
-- Server version	9.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `branch_pricing_slabs`
--

DROP TABLE IF EXISTS `branch_pricing_slabs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `branch_pricing_slabs` (
  `id` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `branch_id` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `min_cost` decimal(10,2) NOT NULL,
  `max_cost` decimal(10,2) NOT NULL,
  `multiplier` decimal(5,2) NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_branch` (`branch_id`),
  KEY `idx_cost_range` (`min_cost`,`max_cost`),
  CONSTRAINT `fk_branch_slab_branch` FOREIGN KEY (`branch_id`) REFERENCES `branches` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `branch_pricing_slabs`
--

LOCK TABLES `branch_pricing_slabs` WRITE;
/*!40000 ALTER TABLE `branch_pricing_slabs` DISABLE KEYS */;
/*!40000 ALTER TABLE `branch_pricing_slabs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `branches`
--

DROP TABLE IF EXISTS `branches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `branches` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `company_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `street_address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `street_address_2` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `city` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `state_province` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `postal_code` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `country` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `branch_manager_id` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `branch_multiplier` decimal(5,2) DEFAULT '1.00',
  `enable_slab_pricing` tinyint(1) DEFAULT '0',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_branch_code` (`company_id`,`code`),
  KEY `idx_company` (`company_id`),
  KEY `fk_branch_manager` (`branch_manager_id`),
  CONSTRAINT `branches_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_branch_manager` FOREIGN KEY (`branch_manager_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `branches`
--

LOCK TABLES `branches` WRITE;
/*!40000 ALTER TABLE `branches` DISABLE KEYS */;
/*!40000 ALTER TABLE `branches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `collection_pricing_overrides`
--

DROP TABLE IF EXISTS `collection_pricing_overrides`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `collection_pricing_overrides` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `company_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `collection_type` enum('ENGAGEMENT','ETERNITY','FLORAL','WEDDING_BANDS') COLLATE utf8mb4_unicode_ci NOT NULL,
  `multiplier` decimal(5,2) NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_company_collection` (`company_id`,`collection_type`),
  KEY `idx_company` (`company_id`),
  CONSTRAINT `collection_pricing_overrides_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `collection_pricing_overrides`
--

LOCK TABLES `collection_pricing_overrides` WRITE;
/*!40000 ALTER TABLE `collection_pricing_overrides` DISABLE KEYS */;
INSERT INTO `collection_pricing_overrides` VALUES ('8cb52ce4-e5d3-423e-9c42-13b2bf891c67','d55ec114-7e45-4a03-bc9c-273046431aae','ETERNITY',3.00,1,'2026-02-27 09:22:15'),('9663d76b-9e4f-425e-9dfe-1f7611c53f83','bdd1e61b-731c-46a9-a25b-34d08d500c23','ENGAGEMENT',3.50,1,'2026-03-02 07:44:43'),('99fc08d9-a5b7-47f9-9498-f08141412ddd','bdd1e61b-731c-46a9-a25b-34d08d500c23','ETERNITY',3.00,1,'2026-03-02 07:44:43'),('fbd62a6f-427d-4ab1-9704-a3b4f662af34','d55ec114-7e45-4a03-bc9c-273046431aae','ENGAGEMENT',3.50,1,'2026-02-27 09:22:15');
/*!40000 ALTER TABLE `collection_pricing_overrides` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `companies`
--

DROP TABLE IF EXISTS `companies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `companies` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `company_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `company_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `account_manager_id` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `street_address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `street_address_2` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `city` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `state_province` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `postal_code` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `country` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `primary_email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `primary_phone` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `website` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ship_to_type` enum('MAIN_ADDRESS','MAIN_BRANCH','CUSTOM') COLLATE utf8mb4_unicode_ci DEFAULT 'MAIN_ADDRESS',
  `ship_street_address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ship_city` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ship_state_province` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ship_postal_code` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ship_country` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `default_multiplier` decimal(5,2) NOT NULL DEFAULT '1.00',
  `enable_slab_pricing` tinyint(1) DEFAULT '0',
  `enable_collection_pricing` tinyint(1) DEFAULT '0',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `company_code` (`company_code`),
  KEY `idx_company_code` (`company_code`),
  KEY `idx_active` (`is_active`),
  KEY `idx_city` (`city`),
  KEY `idx_country` (`country`),
  KEY `fk_company_account_manager` (`account_manager_id`),
  CONSTRAINT `fk_company_account_manager` FOREIGN KEY (`account_manager_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `companies`
--

LOCK TABLES `companies` WRITE;
/*!40000 ALTER TABLE `companies` DISABLE KEYS */;
/*!40000 ALTER TABLE `companies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_pricing_slabs`
--

DROP TABLE IF EXISTS `company_pricing_slabs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_pricing_slabs` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `company_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `min_cost` decimal(10,2) NOT NULL,
  `max_cost` decimal(10,2) NOT NULL,
  `multiplier` decimal(5,2) NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_company` (`company_id`),
  KEY `idx_cost_range` (`min_cost`,`max_cost`),
  CONSTRAINT `company_pricing_slabs_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_pricing_slabs`
--

LOCK TABLES `company_pricing_slabs` WRITE;
/*!40000 ALTER TABLE `company_pricing_slabs` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_pricing_slabs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `design_findings`
--

DROP TABLE IF EXISTS `design_findings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `design_findings` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `design_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `finding_head` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `price_per_unit` decimal(12,2) NOT NULL DEFAULT '0.00',
  `units` decimal(12,3) NOT NULL DEFAULT '0.000',
  `total_weight` decimal(12,3) NOT NULL DEFAULT '0.000',
  `finding_value` decimal(12,2) NOT NULL DEFAULT '0.00',
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_design_findings_design` (`design_id`,`sort_order`),
  CONSTRAINT `fk_design_findings_design` FOREIGN KEY (`design_id`) REFERENCES `designs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `design_findings`
--

LOCK TABLES `design_findings` WRITE;
/*!40000 ALTER TABLE `design_findings` DISABLE KEYS */;
/*!40000 ALTER TABLE `design_findings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `design_gemstones`
--

DROP TABLE IF EXISTS `design_gemstones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `design_gemstones` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `design_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `packet_id` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stone` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `shape` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `size` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cut` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `color` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `quality` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stone_type` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `wt_per_pcs` decimal(12,3) NOT NULL DEFAULT '0.000',
  `pcs` int NOT NULL DEFAULT '0',
  `wt_in_cts` decimal(12,3) NOT NULL DEFAULT '0.000',
  `price_per_ct` decimal(12,2) NOT NULL DEFAULT '0.00',
  `amount` decimal(12,2) NOT NULL DEFAULT '0.00',
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_design_gems_design` (`design_id`,`sort_order`),
  KEY `idx_design_gems_filter` (`stone`,`shape`,`cut`,`color`,`quality`),
  KEY `idx_design_gems_packet` (`packet_id`),
  CONSTRAINT `fk_design_gemstones_design` FOREIGN KEY (`design_id`) REFERENCES `designs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `design_gemstones`
--

LOCK TABLES `design_gemstones` WRITE;
/*!40000 ALTER TABLE `design_gemstones` DISABLE KEYS */;
/*!40000 ALTER TABLE `design_gemstones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `design_history`
--

DROP TABLE IF EXISTS `design_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `design_history` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `design_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_type` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remarks` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `performed_by` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `metadata` json DEFAULT NULL,
  `performed_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_design_history_design` (`design_id`,`performed_at`),
  KEY `fk_design_history_user` (`performed_by`),
  CONSTRAINT `fk_design_history_design` FOREIGN KEY (`design_id`) REFERENCES `designs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_design_history_user` FOREIGN KEY (`performed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `design_history`
--

LOCK TABLES `design_history` WRITE;
/*!40000 ALTER TABLE `design_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `design_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `design_labors`
--

DROP TABLE IF EXISTS `design_labors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `design_labors` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `design_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `labor_head` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `labor_per_unit` decimal(12,2) NOT NULL DEFAULT '0.00',
  `unit_qty` decimal(12,3) NOT NULL DEFAULT '0.000',
  `labor_value` decimal(12,2) NOT NULL DEFAULT '0.00',
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_design_labors_design` (`design_id`,`sort_order`),
  CONSTRAINT `fk_design_labors_design` FOREIGN KEY (`design_id`) REFERENCES `designs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `design_labors`
--

LOCK TABLES `design_labors` WRITE;
/*!40000 ALTER TABLE `design_labors` DISABLE KEYS */;
/*!40000 ALTER TABLE `design_labors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `design_masters`
--

DROP TABLE IF EXISTS `design_masters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `design_masters` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `master_type` enum('JEWELRY_GROUP','COLLECTION','JEWELRY_SIZE','TAG','DESIGN_STATUS','STAGE','METAL_NAME','METAL_COLOR','METAL_PURITY','METAL_CARATAGE','GOLD_COLOUR','DIAMOND_TYPE','DIAMOND_SPREAD','LABOR_HEAD','FINDING_HEAD','PACKET_STONE','PACKET_SHAPE','PACKET_SIZE','PACKET_CUT','PACKET_COLOR','PACKET_QUALITY') COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `normalized_value` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alias_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `normalized_alias` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `scope_key` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `jewelry_group_id` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jewelry_group` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `finding_no` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `metal_caratage` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `price_in` enum('PIECES','GRAM','PAIR','INCHES') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `price_per_unit` decimal(12,2) DEFAULT NULL,
  `dimensions` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `weight_per_unit` decimal(12,3) DEFAULT NULL,
  `metal_name` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `metal_color` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `metal_purity` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `purity_percentage` decimal(8,3) DEFAULT NULL,
  `market_price_per_ounce` decimal(12,2) DEFAULT NULL,
  `market_price_per_gm` decimal(12,4) DEFAULT NULL,
  `live_price_per_gm` decimal(12,4) DEFAULT NULL,
  `default_wastage_percent` decimal(8,3) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_by` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_by` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_master_type_value` (`master_type`,`scope_key`,`normalized_value`),
  UNIQUE KEY `unique_master_type_finding_no` (`master_type`,`finding_no`),
  UNIQUE KEY `unique_master_type_alias` (`master_type`,`scope_key`,`normalized_alias`),
  KEY `idx_master_type_active` (`master_type`,`is_active`),
  KEY `fk_design_master_created_by` (`created_by`),
  KEY `fk_design_master_updated_by` (`updated_by`),
  CONSTRAINT `fk_design_master_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_design_master_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `design_masters`
--

LOCK TABLES `design_masters` WRITE;
/*!40000 ALTER TABLE `design_masters` DISABLE KEYS */;
/*!40000 ALTER TABLE `design_masters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `design_metals`
--

DROP TABLE IF EXISTS `design_metals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `design_metals` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `design_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `gold_colour` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `net_wt` decimal(12,3) NOT NULL DEFAULT '0.000',
  `wastage_percent` decimal(8,3) NOT NULL DEFAULT '0.000',
  `wastage_wt` decimal(12,3) NOT NULL DEFAULT '0.000',
  `total_wt` decimal(12,3) NOT NULL DEFAULT '0.000',
  `price_per_gm` decimal(12,2) NOT NULL DEFAULT '0.00',
  `value` decimal(12,2) NOT NULL DEFAULT '0.00',
  `components` int NOT NULL DEFAULT '0',
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_design_metals_design` (`design_id`,`sort_order`),
  CONSTRAINT `fk_design_metals_design` FOREIGN KEY (`design_id`) REFERENCES `designs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `design_metals`
--

LOCK TABLES `design_metals` WRITE;
/*!40000 ALTER TABLE `design_metals` DISABLE KEYS */;
/*!40000 ALTER TABLE `design_metals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `design_pricing_tiers`
--

DROP TABLE IF EXISTS `design_pricing_tiers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `design_pricing_tiers` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `design_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `increment_by` enum('PERCENTAGE','FLAT') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PERCENTAGE',
  `unit` varchar(60) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `weight_by` varchar(60) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `value` decimal(12,2) NOT NULL DEFAULT '0.00',
  `selling_price` decimal(12,2) NOT NULL DEFAULT '0.00',
  `code` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_design_tiers_design` (`design_id`,`sort_order`),
  KEY `idx_design_tiers_name` (`name`),
  CONSTRAINT `fk_design_pricing_tiers_design` FOREIGN KEY (`design_id`) REFERENCES `designs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `design_pricing_tiers`
--

LOCK TABLES `design_pricing_tiers` WRITE;
/*!40000 ALTER TABLE `design_pricing_tiers` DISABLE KEYS */;
/*!40000 ALTER TABLE `design_pricing_tiers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `design_process_stages`
--

DROP TABLE IF EXISTS `design_process_stages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `design_process_stages` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `design_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `process_stage` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `net_weight` decimal(12,3) NOT NULL DEFAULT '0.000',
  `duration` decimal(12,2) NOT NULL DEFAULT '0.00',
  `duration_type` enum('MINUTES','HOURS','DAYS') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'MINUTES',
  `remarks` text COLLATE utf8mb4_unicode_ci,
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_design_process_design` (`design_id`,`sort_order`),
  KEY `idx_design_process_stage` (`process_stage`),
  CONSTRAINT `fk_design_process_design` FOREIGN KEY (`design_id`) REFERENCES `designs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `design_process_stages`
--

LOCK TABLES `design_process_stages` WRITE;
/*!40000 ALTER TABLE `design_process_stages` DISABLE KEYS */;
/*!40000 ALTER TABLE `design_process_stages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `design_relevant`
--

DROP TABLE IF EXISTS `design_relevant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `design_relevant` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `design_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `related_design_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_design_relevant_pair` (`design_id`,`related_design_id`),
  KEY `idx_design_relevant_related` (`related_design_id`),
  CONSTRAINT `fk_design_relevant_design` FOREIGN KEY (`design_id`) REFERENCES `designs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_design_relevant_related` FOREIGN KEY (`related_design_id`) REFERENCES `designs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `design_relevant`
--

LOCK TABLES `design_relevant` WRITE;
/*!40000 ALTER TABLE `design_relevant` DISABLE KEYS */;
/*!40000 ALTER TABLE `design_relevant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `design_stl_files`
--

DROP TABLE IF EXISTS `design_stl_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `design_stl_files` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `design_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_url` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `uploaded_by` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_design_stl_design` (`design_id`,`uploaded_at`),
  KEY `fk_design_stl_user` (`uploaded_by`),
  CONSTRAINT `fk_design_stl_design` FOREIGN KEY (`design_id`) REFERENCES `designs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_design_stl_user` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `design_stl_files`
--

LOCK TABLES `design_stl_files` WRITE;
/*!40000 ALTER TABLE `design_stl_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `design_stl_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `design_vendors`
--

DROP TABLE IF EXISTS `design_vendors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `design_vendors` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `design_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `supplier_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `stock_type` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `supplier_style_no` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_design_vendors_design` (`design_id`,`sort_order`),
  KEY `idx_design_vendors_supplier` (`supplier_name`),
  CONSTRAINT `fk_design_vendors_design` FOREIGN KEY (`design_id`) REFERENCES `designs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `design_vendors`
--

LOCK TABLES `design_vendors` WRITE;
/*!40000 ALTER TABLE `design_vendors` DISABLE KEYS */;
/*!40000 ALTER TABLE `design_vendors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `designs`
--

DROP TABLE IF EXISTS `designs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `designs` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `design_no` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `version` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'V1',
  `company_id` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `branch_id` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jewelry_group` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `collection` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jewelry_size` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stage` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `diamond_spread` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `diamond_type` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `design_status` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gold_colour` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stone_info` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tags` json DEFAULT NULL,
  `drawer_location` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `design_description` text COLLATE utf8mb4_unicode_ci,
  `remarks` text COLLATE utf8mb4_unicode_ci,
  `metal_value` decimal(12,2) NOT NULL DEFAULT '0.00',
  `gem_value` decimal(12,2) NOT NULL DEFAULT '0.00',
  `labor_value` decimal(12,2) NOT NULL DEFAULT '0.00',
  `finding_value` decimal(12,2) NOT NULL DEFAULT '0.00',
  `total_value` decimal(12,2) NOT NULL DEFAULT '0.00',
  `gross_weight` decimal(12,3) NOT NULL DEFAULT '0.000',
  `live_price` decimal(12,2) NOT NULL DEFAULT '0.00',
  `stl_file_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `image_urls` json DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_by` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_by` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_design_version_company` (`company_id`,`design_no`,`version`),
  KEY `idx_design_no` (`design_no`),
  KEY `idx_design_status` (`is_active`,`stage`,`design_status`),
  KEY `idx_design_company` (`company_id`),
  KEY `idx_design_branch` (`branch_id`),
  KEY `fk_design_created_by` (`created_by`),
  KEY `fk_design_updated_by` (`updated_by`),
  CONSTRAINT `fk_design_branch` FOREIGN KEY (`branch_id`) REFERENCES `branches` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_design_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_design_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_design_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `designs`
--

LOCK TABLES `designs` WRITE;
/*!40000 ALTER TABLE `designs` DISABLE KEYS */;
/*!40000 ALTER TABLE `designs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `global_base_prices`
--

DROP TABLE IF EXISTS `global_base_prices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `global_base_prices` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `category` enum('METAL','DIAMOND') COLLATE utf8mb4_unicode_ci NOT NULL,
  `reference_value` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sub_value` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `price_per_unit` decimal(12,2) NOT NULL DEFAULT '0.00',
  `unit` enum('GRAM','CARAT') COLLATE utf8mb4_unicode_ci NOT NULL,
  `currency` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'USD',
  `effective_from` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_by` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_by` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_global_price_category_active` (`category`,`is_active`),
  KEY `idx_global_price_reference` (`reference_value`),
  KEY `idx_global_price_sub_value` (`sub_value`),
  KEY `idx_global_price_effective_from` (`effective_from`),
  KEY `fk_global_price_created_by` (`created_by`),
  KEY `fk_global_price_updated_by` (`updated_by`),
  CONSTRAINT `fk_global_price_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_global_price_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `global_base_prices`
--

LOCK TABLES `global_base_prices` WRITE;
/*!40000 ALTER TABLE `global_base_prices` DISABLE KEYS */;
/*!40000 ALTER TABLE `global_base_prices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stone_packets`
--

DROP TABLE IF EXISTS `stone_packets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stone_packets` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `packet_name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `stock_type` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stone` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `shape` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `size` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cut` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `color` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `quality` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `price_in` enum('WT','PCS') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'WT',
  `selling_price` decimal(12,2) DEFAULT NULL,
  `weight_per_pc` decimal(12,3) DEFAULT NULL,
  `pieces` int NOT NULL DEFAULT '0',
  `weight` decimal(12,3) NOT NULL DEFAULT '0.000',
  `weight_unit` enum('CTS','GMS') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'CTS',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `packet_name` (`packet_name`),
  KEY `idx_stone_packets_filter` (`stock_type`,`stone`,`shape`,`cut`,`color`,`quality`),
  KEY `idx_stone_packets_active` (`is_active`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stone_packets`
--

LOCK TABLES `stone_packets` WRITE;
/*!40000 ALTER TABLE `stone_packets` DISABLE KEYS */;
/*!40000 ALTER TABLE `stone_packets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('SUPER_ADMIN','COMPANY_ADMIN','BRANCH_MANAGER','SALES_REP','INTERNAL_REP') COLLATE utf8mb4_unicode_ci NOT NULL,
  `company_id` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `branch_id` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `task_permissions` json DEFAULT NULL,
  `phone` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_role` (`role`),
  KEY `fk_user_company` (`company_id`),
  KEY `fk_user_branch` (`branch_id`),
  CONSTRAINT `fk_user_branch` FOREIGN KEY (`branch_id`) REFERENCES `branches` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_user_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'railway'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-11 18:19:35
